In [42]:
# Suppose we have a data of 2d list, each row contains name, phone and salary.
employees = [   ['John Smith', '1234567890', 100],
                ['Jane Doe', '2345678901', 200],
                ['', '3456789012', 500],
                ['Melody Pond', 'aa7890123', 3000],
                ['Dean Winchester', '56A89A123A', 1000],
                ['Jodie Whittakerrrrrrrrrrrrrrrr', '6789012345', 1500]]
def print_employees(employees):
    for row in employees:
        print(f'{row[0]:<25}: {row[1]:10s}, ${row[2]:5}')

In [46]:
def do_nothing(employees):
    pass
def clean_employess(employees, clean_name=do_nothing, clean_phone=do_nothing, clean_salary=do_nothing):
    clean_name(employees)
    clean_phone(employees)
    clean_salary(employees)

In [45]:
def empty_2_default(employees):
    for row in employees:
        if row[0] == '':
            row[0] = 'John Doe'

    pass

clean_employess(employees, clean_name=empty_2_default)
print_employees(employees)

John Smith               : 1234567890, $  100
Jane Doe                 : 2345678901, $  200
John Doe                 : 3456789012, $  500
Melody Pond              : 007890123 , $ 3000
Dean Winchester          : 5608901230, $ 1000
Jodie Whittaker          : 6789012345, $ 1500

In [44]:
def truncate_longname(employees):
    for row in employees:
        if len(row[0]) > 20:
            row[0] = row[0][:15]

    pass

clean_employess(employees, clean_name=truncate_longname)
print_employees(employees)

John Smith               : 1234567890, $  100
Jane Doe                 : 2345678901, $  200
                         : 3456789012, $  500
Melody Pond              : 007890123 , $ 3000
Dean Winchester          : 5608901230, $ 1000
Jodie Whittaker          : 6789012345, $ 1500

In [47]:
def digit_2zero(employees):
    for row in employees:
        row[1] = list(map(lambda x: x if x.isdigit() else '0', row[1]))
        row[1] = ''.join(row[1])
    pass

clean_employess(employees, clean_phone=digit_2zero)
print_employees(employees)

John Smith               : 1234567890, $  100
Jane Doe                 : 2345678901, $  200
John Doe                 : 3456789012, $  500
Melody Pond              : 007890123 , $ 3000
Dean Winchester          : 5608901230, $ 1000
Jodie Whittaker          : 6789012345, $ 1500

In [48]:
def fix_salary(employees):
    for row in employees:
        if row[2] < 200:
            row[2] = 200
        if row[2] > 2000:
            row[2] = 2000

clean_employess(employees, clean_phone=fix_salary)
print_employees(employees)

John Smith               : 1234567890, $  200
Jane Doe                 : 2345678901, $  200
John Doe                 : 3456789012, $  500
Melody Pond              : 007890123 , $ 2000
Dean Winchester          : 5608901230, $ 1000
Jodie Whittaker          : 6789012345, $ 1500

In [ ]:
def nondigit_2previous(employees):
    for i in range(1, len(phone)):
        phone[i] = phone[i] if phone[i].isdigit() else phone[i-1]
    row[1] = ''.join(phone)
    pass

clean_employess(employees, clean_phone=digit_2zero)
print_employees(employees)

In [ ]:
sum_even = sum([x for x in numbers if x % 2 == 0])
print(sum_even)

In [ ]:
def my_filter(f,items):
    for i in items:
        if f(i):
            yeild i

In [ ]:
sum_even = sum(my_filter(lambda x: x % 2 == 0, numbers))
print(sum_even)

In [49]:
def rec_fibonacci(n):
    if n < 2:
        return n
    return rec_fibonacci(n - 1) + rec_fibonacci(n - 2)

In [50]:
print(rec_fibonacci(50))

12586269025

In [51]:
def fibo_gen():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

In [52]:
def fibonacci(n):
    i = 0
    while i in fibo_gen():
        if i == n:
            return f
        i += 1

In [ ]:
print(fibonacci(50D))